{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    <p></p>
        <table>
            <tr>
                <th>Имя</th>
                <th>Число страниц</th>
                <th>Цена</th>
                <th>Рейтинг</th>
                <th>Автора</th>
                <th>Издатель</th>
                <th>Дата выпуска</th>
                <th>Осталось в наличии</th>
                <th>Картинка</th>
            </tr>
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.pages }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.rating }}</td>
                <td>{{ product.authors }}</td>
                <td>{{ product.publisher }}</td>
                <td>{{ product.pubdate }}</td>
                <td>{{ product.amount }}</td>
                <td>
                      <img src="{{ product.image.url }}" style="max-height:300px">
                </td>
            </tr>
        </table>

        {# Display a form #}
        <form action="{% url "book_detail" product.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form cart_product_form %}

            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Add to cart
                </button>
            {% endbuttons %}
        </form>

    {% endblock %}
