{% extends "base.html" %}

    {% block content %}
        <h1>Ваша корзина</h1>
        <table class="cart">
            <thead>
            <tr>
                <th>Книга</th>
                <th>Количество</th>
                <th>Убрать</th>
                <th>Цена за штуку</th>
                <th>Общая стоимость</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td><a href="{% url "cart_remove" product.id%}">Убрать</a></td>
                        <td class="num">${{ item.price }}</td>
                        <td class="num">${{ item.total_price }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Всего</td>
                <td colspan="4"></td>
                <td class="num">${{ cart.get_total_price }}</td>
            </tr>
            </tbody>
        </table>
        <p class="text-left">
            <a href="{% url "books_list" %}" class="button light">Продолжить покупки</a>
            <a href="{% url "orders:order_create" %}" class="button">
                Сделать заказ
            </a>
        </p>
    {% endblock %}
